:root {
  --bg: #2f272d;
  --fg: white;
  --anchor: #2fc;
  --header-bg: #3f373d;
  --header-fg: #fff;
  --header-anchor-fg: #b8c4cc;

  --footer-bg: #000;
  --footer-fg: #fff;
  --footer-anchor-fg: #b8c4cc;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --fg: #222;
    --anchor: #038;
  }
}
